<h1>Como Ajudar</h1>
<br />
<p>Disponibilizamos vários meios de comunicação para os
usuários do site como o twitter, os usuários podem fazer
seus relacionamentos, tirar suas dúvidas sobre o animal
com outros usuários, entra em contato com instituições
para doação e também a adoção de um animal.</p>
<br />
<p>Os usuários podem fazer seu cadastro e de seu animal para
doá-lo ou verificar perfis de animais para poder adotar o
animal que ele mais se identifica.
Com o interesse de mais pessoas poderemos crescer mais
e dar mais ajuda aos animais, essa idéia precisa de você
para continuarmos desenvolvendo esse projeto para o
futuro.</p>
<br />
<p>Aceitamos patrocinadores, pessoas interessadas em
adicionar recursos para manter o site sempre ativo.</p>
