<h1>Quem Somos</h1>
<br />
<p>Quatro alunos de faculdade despertaram o interesse em
ajudar os animais de uma forma nova e atual, pesquisamos
diferentes sites para animais e concluímos que não existe
um site interativo que crie uma ligação forte entre os
usuários que querem contribuir em idéias, assuntos e
solidariedade com os animais.</p>
<br />
<p>Somos alunos de faculdade em analise de sistemas,
sentimos uma grande necessidade de agregar esse tema
em nosso projeto, pois poderemos passar ensinamentos,
atualidades de diversos assuntos que ajudarão os animais
abandonados e os que precisam de um lar digno para
viver, sabemos a importância de ter um propósito e
concluí-lo, nosso propósito era desenvolver um site
para colaborar com a doação e adoção de animais e
conseguimos.</p>
<br />
<p>Identificamos que este assunto ainda possui meios de
comunicação precários via web, os sites que existem
são pouco instrutivos para as pessoas que tem interesse
em adoção e doação de animais e por meio deste site
criado queremos abranger o interesse das pessoas,
conscientizando-as, ajudando-as e despertando interesses
maiores para com os animais que não tem um lar.
A cada dia que passamos pelas ruas vemos animais
abandonados sem um lar, muitas pessoas querem ajudar,
mas às vezes não sabem como, pesquisam e tentam,mas só que os meios são complicados e muito pouco informativos.</p>
<br />
<p>Nosso site tem diversos assuntos, notícias, contatos,
opiniões, relações de usuários, links, doações e adoções,
que abrangem um público maior de pessoas e facilita seus
interesses. Nosso objetivo é aumentar ao máximo e rede
de usuários que se sentem seguros e confiantes para doar
seus animais para pessoas que irão cuidar bem de seus
amigos animais.</p>
<br />
<p>Desenvolvemos este projeto sabendo que deixamos uma
parte de nós para o futuro e presente dos amigos animais
que precisam da ajuda, porque eles não poderão fazer isso
por eles.</p>
