<div class="top">
	<h1><a href="/" title="Voltar para Home">AdoteNet</a></h1>
	<div class="radius shadow">
	  	<nav>
		     <li class="nobdl"><a href="/">Home</a></li>
		     <li><a href="/quem_somos/">Quem Somos</a></li>
		     <li><a href="/como_ajudar/">Como Ajudar</a></li>
		     <li><a href="/contato/">Contato</a></li>
		</nav>
		<form action="javascript:void(0);" method="post">
			<label for="login">Login</label>
			<input type="text" name="login" id="login" />
			<label for="senha">Senha:</label>
			<input type="password" name="senha" id="senha" />
			<input type="submit" value="Logar" />
		</form>
	</div>
</div>
<div class="down">
  <nav class="list radius shadow">
	<h3>Menu</h3>
	<ul>
      <li class="nobdt"><a href="javascript:void(0);">Cadastrar Animal</a></li>
      <li><a href="javascript:void(0);">Adotar</a></li>
      <li><a href="javascript:void(0);">Adotados</a></li>
      <li><a href="javascript:void(0);">Procura-se</a></li>
	</ul>
  </nav>
  <div class="slideshow shadow">
  		<div id="featured" >
		  <ul class="ui-tabs-nav">
	        <li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-1"><a href="#fragment-1"><img src="img/slide/banner1.jpg" width="80" height="50" alt="" /><span>Os 10 filhotes mais bonitos</span></a></li>
	        <li class="ui-tabs-nav-item" id="nav-fragment-2"><a href="#fragment-2"><img src="img/slide/banner2.jpg" width="80" height="50" alt="" /><span>10 lugares para passear com seu melhor amigo</span></a></li>
	        <li class="ui-tabs-nav-item" id="nav-fragment-3"><a href="#fragment-3"><img src="img/slide/banner3.jpg" width="80" height="50" alt="" /><span>Nos ajude a ajudar !</span></a></li>
	      </ul>

	    <!-- First Content -->
	    <div id="fragment-1" class="ui-tabs-panel" style="">
			<img src="img/slide/banner1.jpg" width="535" height="186" alt="" />
			 <div class="info" >
				<h2><a href="#" >Os 10 filhotes mais bonitos</a></h2>
				<p>Vejas as Fotos dos filhotes mais bonitos votados pelo site, são fotos lindas tiradas pelo fotografo Jeff Daniels... <a href="#" >leia mais</a></p>
			 </div>
	    </div>

	    <!-- Second Content -->
	    <div id="fragment-2" class="ui-tabs-panel ui-tabs-hide" style="">
			<img src="img/slide/banner2.jpg" width="535" height="186" alt="" />
			 <div class="info" >
				<h2><a href="#" >10 lugares para passear com seu melhor amigo</a></h2>
				<p>Listamos os 10 lugares mais gostosos para você e seu melhor amigo passear, vai perder essas dicas ?... <a href="#" >leia mais</a></p>
			 </div>
	    </div>

	    <!-- Third Content -->
	    <div id="fragment-3" class="ui-tabs-panel ui-tabs-hide" style="">
			<img src="img/slide/banner3.jpg" width="535" height="186" alt="" />
			 <div class="info" >
				<h2><a href="#" >Nos ajude a ajudar !</a></h2>
				<p>Não poderíamos manter os serviços gratuitos neste site, com hospedagem horas de desenvolvimento se não fosse por sua ajuda... <a href="#" >leia mais</a></p>
	         </div>
	    </div>

	    <!-- Fourth Content -->
	    <div id="fragment-4" class="ui-tabs-panel ui-tabs-hide" style="">
			<img src="img/slide/image4.jpg" width="535" height="186" alt="" />
			 <div class="info" >
				<h2><a href="#" >Create a Vintage Photograph in Photoshop</a></h2>
				<p>Quisque sed orci ut lacus viverra interdum ornare sed est. Donec porta, erat eu pretium luctus, leo augue sodales....<a href="#" >read more</a></p>
	         </div>
	    </div>

	</div>
  </div>
</div>