<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Home - AdoteNet</title>
    <!--[if lt IE 9]>
        <script src="js/html5.js"></script>
		<%= javascript_include_tag 'html5' %>
    <![endif]-->
    
	<%= stylesheet_link_tag 'css' %>
	<script type="text/javascript" src="/javascripts/jquery-1.4.4.min.js" ></script>
	<script type="text/javascript" src="/javascripts/jquery-ui.min.js" ></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#featured > ul").tabs({fx:{opacity: "toggle"}}).tabs("rotate", 5000, true);
			$("#newsletter").click(function(){
				$("#newsletter").attr("value", "");
			});
			$("#newsletter").blur(function(){
				$("#newsletter").attr("value", "Cadastre seu E-mail");
			});
			$(".newsletter input[type=submit]").click(function(){
				$(".boxMensagem").show("slow").delay(4000).hide("slow");
				
			});
		});
	</script>
  </head>
  <body>
    <div class="wrapp">
      <header>
      	<%= render :partial => "shared/header" %>
      </header>
      <section class="sideLeft">
        <div class="busca box radius shadow">
          <h3>Busca</h3>
          <form name="formBusca" action="javascript:void(0);" method="port"> 
            <select name="animal" id="animal">
              <option value="0">ANIMAL</option>
            </select>
            <select name="sexo" id="sexo">
              <option value="0">SEXO</option>
            </select>
            <select name="porte" id="porte">
              <option value="0">Porte</option>
            </select>
            <select name="estado" id="estado">
              <option value="0">Estado</option>
            </select>
            <select name="Cidade" id="cidade">
              <option value="0">Cidade</option>
            </select>
            <input type="submit" value="Buscar">
          </form>
        </div>
        <div class="links box radius shadow">
          <h3>Links</h3>
          <nav class="list">
              <li class="nobdt"><a href="javascript:void(0);">Maus tratos - Denuncie</a></li>
              <li><a href="javascript:void(0);">Como doar um animal</a></li>
              <li><a href="javascript:void(0);">Benefícios da castração</a></li>
              <li><a href="javascript:void(0);">Seu bichinho se perdeu?</a></li>
              <li><a href="javascript:void(0);">Anunciando animais</a></li>
              <li><a href="javascript:void(0);">Abrigos: triste realidade</a></li>
              <li><a href="javascript:void(0);">Adoção consciente</a></li>
          </nav>
        </div>
        <div class="newsletter box radius shadow">
          <h3>Publicidade</h3>
			<img src="img/slide/anuncie.jpg" width="135" height="160" alt="" />
        </div>
      </section>
      <section class="content">
        <%= yield %>
      </section>
      <!-- Lateral Direita -->
      <section class="sideRight">
        <div class="links box radius shadow">
          <h3>Últimas Notícias</h3>
          <nav class="list">
              <li class="nobdt"><a href="javascript:void(0);">PETA pagará tratamento de Lindsay Lohan caso ela vire vegetariana</a></li>
              <li><a href="javascript:void(0);">Preso britânico que colocou gato no micro-ondas</a></li>
              <li><a href="javascript:void(0);">Cães ajudam a diminuir estresse em crianças autistas</a></li>
              <li><a href="javascript:void(0);">Fique atento: obesidade pode reduzir a expectativa de vida do seu mascote</a></li>
              <li><a href="javascript:void(0);">Anatomista alemão vende cadáveres de animais na Internet </a></li>
              <li><a href="javascript:void(0);">Projeto prevê multa para mau trato a animais em SP</a></li>
              <li><a href="javascript:void(0);">Britânica que pôs gato no lixo é multada em 280 euros</a></li>
          </nav>
        </div>
        <div class="newsletter box radius shadow">
          <h3>Newsletter</h3>
          <!--<form>-->
            <input type="text" name="newsletter" id="newsletter" value="Cadastre seu E-mail"/>
            <input type="submit" value="Cadastrar" />
          <!--</form>-->
        </div>
		<div class="newsletter box radius shadow">
          <h3>Publicidade</h3>
			<img src="img/slide/anuncie.jpg" width="135" height="160" alt="" />
        </div>
      </section>
      <!-- Lateral Direita / -->
      <footer class="radius shadow">
	  	<nav>
		     <li class="nobdl"><a href="/">Home</a></li>
		     <li><a href="/quem_somos/">Quem Somos</a></li>
		     <li><a href="/como_ajudar/">Como Ajudar</a></li>
		     <li><a href="/contato/">Contato</a></li>
			 <li><a href="/contato/">Cadastrar Animal</a></li>
   			 <li><a href="/contato/">Adotar</a></li>
			 <li><a href="/contato/">Adotados</a></li>
			 <li class="nobd"><a href="/contato/">Procura-se</a></li>
		</nav>
      </footer>
	  <div class="boxMensagem radius">E-mail Cadastrado com Sucesso !</div>
    </div>
  </body>
</html>